body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.myFullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  align-content: center
}





/* Center the content in the browser window */
/*
.myDiv {
  margin: auto;
 background-color: green; 
 height: 200px;
 width: 200px;
 text-align: center;
}*/


